p {
		color: red;
		width: 500px;
		border: 1px solid black;
}

li,h1 {
	color: red;
}

html {
	background-color: cyan;
}

body {
  width: 700px;
  margin: 0 auto;
  background-color: #19FFAE;
  padding: 0 40px 40px 40px;
  border: 50px solid #AE00AE;
}

h1 {
  margin: 0 auto;
  padding: 20px 0;    
  color: #EE00D3;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}

.quote{
	color:gray;
}

#mainQuote {
	color: black;
}

#dogQuote {
	color: #FF00A5;
}
