p {
		color: red;
		width: 500px;
		border: 1px solid black;
}

li,h1 {
	color: red;
}

html{
	background-color: cyan;
}

body {
  width: 700px;
  margin: 0 auto;
  background-color: #19FFAE;
  padding: 0 40px 40px 40px;
  border: 50px solid #AE00AE;
}
